.process-message-list {
  table {

    table-layout: fixed;

    th.display-name {
      width: 200px;
    }

    th.date-time {
      width: 180px;
    }

    th.transaction {
      width: 130px;
    }

    th.time {
      width: 140px;
    }

    th.duration {
      width: 100px;
    }

    th.retry-count {
      width: 50px;
    }

    th.status {
      width: 90px;
    }
  }
}
