.process-activities {

  table {

    th.display-name,
    th.reference, {
      width: 240px;
    }

    th.date-time {
      width: 180px;
    }

    th.time {
      width: 140px;
    }

    th.duration {
      width: 110px;
    }

    th.status {
      width: 80px;
    }

    th.retry-count {
      width: 40px;
    }
  }
}
