.App {

}

.QUEUED:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #17a2b8 !important;
}

.STARTED:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #17a2b8 !important;
}

.PROCESS_COMPLETED:not(.djs-connection) .djs-visual > :nth-child(1),
.COMPLETED:not(.djs-connection) .djs-visual > :nth-child(1),
.ENDED:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #28a745 !important;
}

.ERROR:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #dc3545 !important;
}

.WARNING:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #ffc107 !important;
}

.selected:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: #17a2b8 !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
