.definition-list {

  table {

    table-layout: fixed;

    th.process-color,
    td.process-color {
      width: 8px !important;
      padding: 0 !important;
    }

    th.display-name {
      width: 240px;
    }

    th.date-time {
      width: 180px;
    }

    th.version {
      width: 80px;
    }

    th.status {
      width: 65px;
    }

    td.status {

      span {
        margin-right: 2px;
      }
    }
  }
}
